includes utils.pug

block content
     each el in comis
        tr
          td(scope='row') #{el.id}
          td #{el.title}
          td #{el.author}
          td #{el.genre}
          td #{el.coverUrl}
