extends layout

block content
    link(rel="stylesheet" href="/stylesheets/comic.css")
    div(id="catalogueInfo")
        //- div(id="coverImage")
        img(src= comic.coverUrl)
        p= comic.title
        p= `Written by: ${comic.author}`
        p= `Genre: ${comic.genre}`
        each review in reviews
            p= review.review

    h2 Review Form

    .errors-container

    form(action=`/comics/${comic.id}/review` method="post" class="create-form")
        div
            label Comment
            textarea(name='commentArea', class='comment')
        button(type='submit' class='submitReviewBtn') Submit Review

    div(class="review-container")

    script(type="module" src="/javascripts/reviewForm.js" defer)
