//- //- includes utils.pug
extends layout

block content
  script(src="/javascripts/comics.js" type="module" defer)
  button(type='button' class='btn1234') Want To Read
  each el in comics
    tr
      td(scope='row') #{el.id}
      td #{el.title}
      td #{el.author}
      td #{el.genre}
      td #{el.coverUrl}
