extends layout

block content
    script(src="/javascripts/comics.js" type="module" defer)
    link(rel="stylesheet" href="/stylesheets/comic.css")
    div(id="catalogueInfo")
        //- div(id="coverImage")
        p= comic.title
        img(src= comic.coverUrl)
        p= `Written by: ${comic.author}`
        p= `Genre: ${comic.genre}`
        each review in reviews
            p= review.review
            form(action=`/reviews/${comic.id}/edit/` method="post" class="edit-form")
                div
                    input(type='hidden' value=review.id name='reviewId')
                button(type='submit' class='editReviewBtn') Edit
            form(action=`/reviews/${comic.id}/delete/` method="post" class="delete-form")
                div
                    input(type='hidden' value=review.id name='reviewId')
                button(type='submit' class='deleteReviewBtn') Delete

    h2 Review Form

    .errors-container

    form(action=`/comics/${comic.id}/review` method="post" class="create-form")
        div
            label Comment
            textarea(name='commentArea' class='comment')
        button(type='submit' class='submitReviewBtn') Submit Review

    div(class="review-container")

    script(type="module" src="/javascripts/reviewForm.js" defer)
    if status[comic.id]
        if ((!status[comic.id].hasRead) && (status[comic.id].wantsToRead))
            select(name='status' placeholder="status" id=comic.id class="dropdown")
                option(value='' style="display: none") Select Status
                option(value='Want To Read' selected id=`Want${comic.id}`) I want to read
                option(value='Has Read' id=`Read${comic.id}`) I have read
        if ((status[comic.id].hasRead) && (!status[comic.id].wantsToRead))
            select(name='status' placeholder="status" id=comic.id class="dropdown")
                option(value='' style="display: none") Select Status
                option(value='Want To Read' id=`Want${comic.id}`) I want to read
                option(value='Has Read' selected id=`Read${comic.id}`) I have read
    else
        select(name='status' placeholder="status" id=comic.id class="dropdown")
            option(value='' style="display: none") Select Status
            option(value='Want To Read' id=`Want${comic.id}`) I want to read
            option(value='Has Read' id=`Read${comic.id}`) I have read
