
mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin comicCard( imageUrl, title, author, genre, id )
  div(class='comicCells' id= id)
    div(class='infoText')
      label= title
      label= author 
      label= genre
    div(class='comicImage')
      img(src=imageUrl)
    div(class='cellButtons')
      button(type='submit' name= `button${id}`) Remove From Shelf
    


