
mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin comicCard( imageUrl, title, author, genre, readStatus, id )
  div(class='comic__cards' id= id)
    picture
      img(src=imageUrl)
    label= title
    label= author 
    label= genre
    div
      label= Read
      input=(type='checkbox')
    div(class='button' name='addToShelf')
      button(type='submit' name= `button${id}`)
    


