

mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')

mixin comicCard( imageUrl, title, author, genre, id )
  script(src="/javascripts/shelfButton.js" type="module" defer)
  div(class='comicCells' id= id)
    div(class='title')
      p= title
      p= author 
      p= genre
    div(class='comicImage')
      a(href=`/comics/${id}`)
        img(src=imageUrl)
    div(class='cellButtons')
      button(type='submit' class='remove-shelf_btn' name= `button${id}` id=id) Remove From Shelf